  <p>
    <%= form.label :shown %><br />
    <%= form.text_field :shown %>
  </p>
    
  <p>
    <%= form.label :photo %><br />
    <%= form.file_field :photo %>
  </p>
  <p>
    <%= form.label :password %><br />
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation %>
  </p>
